.App {
  text-align: center;
}

.App-header {
  background: aquamarine;
  background: linear-gradient(teal, aquamarine, white);
  padding: 2px;
  color: black;
}

.App-text-header{
  font-size: 3.5vw
}

.App-text-header-desc{
  font-size: 2.5vw
}

.List-container {
  padding-right: 30px;
  padding-Left: 30px;
  padding-bottom: 40px;
}

.Separator-line {
  border-bottom-style: solid;
  border-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Separator-first-line {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container{
  display: flex;
  flex: 1;
  align-self: stretch;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: aquamarine;
  background: linear-gradient(white, aquamarine, teal);
}

.footer-text{
  font-size: 17px;
  margin-left: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
